:root {
    --body-font: "Inter", "Noto Sans", sans-serif;
    --title-font: "Noto Serif", serif;
}

html {
    font-family: var(--body-font);
    font-size: 14pt;
}

body {
    background-color: #f8ffff;
}

#title {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#header-img {
    margin: 0 auto;
    width: auto;
}

#main-menu {
    margin: 0 auto;
    width: auto;
}

#main-menu>ul {
    display: inline-flex;
    list-style-type: none;
    flex-direction: row;
    padding-left: 0;
    margin: 0 auto;
    width: auto;
}

#main-menu>ul>li {
    display: inline-flex;
    margin: 2pt;
}

#main-menu>ul>li a {
    margin: 0 auto;
    background-color: #bbf1ff;
    border: 2pt solid #00ccff;
    width: 6em;
    text-decoration: none;
    color: black;
    display: block;
    padding: 4pt 2pt;
}

#main-menu>ul>li a:hover {
    background-color: #e3fadc;
    border: 2pt solid #00ff4c;
}

.footer-text {
    font-size: 70%;
    font-style: italic;
    text-align: center;
}

main {
    margin: 0 auto;
    width: auto;
    max-width: 60em;
}

a {
    color: #001b74;
}

a:visited {
    color: #690077;
}

a:hover {
    color: #1981e2;
}

form {
    text-align: center;
}

h1,
h2,
h3 {
    font-family: var(--title-font);
}

blockquote {
    color: #111111;
    font-family: var(--title-font);
}

blockquote footer {
    font-style: italic;
    font-size: 95%;
    font-family: var(--body-font);
}

main img.block {
    width: auto;
    height: auto;
    max-width: 80%;
    margin: 0 auto;
    display: block;
}

.post-tag {
    background-color: #bbf1ff;
    border: 2pt solid #00ccff;
    border-radius: 2pt;
    padding: 2pt;
    font-size: 70%;
    text-transform: uppercase;
}

section.footnotes {
    font-size: 95%;
}

.playArea {
    margin: 1em auto 0 auto;
    width: auto;
    border-spacing: 0.15em;
    font-family: 'Fira Code', monospace;
    text-align: center;
    font-size: 150%;
}

.inputBox {
    min-height: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    width: 100%;
    background-color: #ebffde;
    font-family: 'Fira Code', monospace;
    text-align: center;
    font-size: 150%;
}

.gameRow {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.gameCell {
    width: 2em;
    height: 2em;
    padding: 0.1em;
    margin: 0.1em;
    border: 2pt solid black;
    border-radius: 0.2em;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

.gray {
    background-color: #eeeeee;
    border: none;
}

.yellow {
    background-color: #ffffbb;
    border: 2pt dashed #ff6600;
}

.green {
    background-color: #bbf1ff;
    border: 2pt solid #00ccff;
}

.anchorStart {
    border-top-left-radius: 0.1em;
    border-bottom-left-radius: 0.5em;
    padding-left: 0.5em;
}

.anchorEnd {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.1em;
    padding-right: 0.5em;
}

#alertMessage {
    padding: 0.5em 1em;
    position: fixed;
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.information {
    background-color: #bbf1ff;
    border: 1px solid #00ccff;
}

.invalid {
    background-color: #ffcccc;
    border: 1px solid #ff5e00;
}

#resultsScreen,
#helpScreen,
#updateScreen {
    padding: 0.8em 3em;
    padding-bottom: 1.5em;
    position: fixed;
    top: 5vh;
    max-height: 90vh;
    overflow-y: auto;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d5f7ff;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}

#resultsGuessDistrCont {
    margin: 0 auto;
}

th[colspan=row] {
    text-align: left;
}

#resultsGuessDistr td {
    text-align: right;
    width: 10em;
}

button {
    font-family: inherit;
    font-size: inherit;
    padding: 0.4em;
    background-color: white;
    border: 1px solid #999999;
    border-radius: 0.3em;
}

button#buttonShare,
button#buttonEnter {
    background-color: #008bcc;
    color: white;
}

button#buttonHelp {
    background-color: #cc6d00;
    color: white;
}

form#keyboard {
    margin-top: 0.8em;
}